header{
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid;
  justify-content: space-between;
  padding-bottom: 10px;
  }

header p{
  color: MediumAquamarine;

}

nav{
  width: 250px;
  display: inline-flex;
  justify-content: space-between;

  align-items: center;
  }

.logo{

  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  width: 150px;
  margin-left: 20px;
}

.main{
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  width: 1270px;
  margin-left: 280px;
  margin-right: 280px;
  padding-top: 20px;
}

.large{
  width: 630px;
  border: 1px solid black;

}

.medium{
  width: 300px;
  border: 1px solid black;
}

.small{
  width: 240px;
  border: 1px solid black;
  margin-right: 20px;
}

p{
  font-family: Georgia;
  font-size: 17px;
  }
