/*Header*/
header{
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  align-items: center;
  padding-left: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.nav-contaner{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 10px;
}

a{
  margin: 15px;
}
